<div id="container-post">
    <button id="back" (click)="clickHere()"><img src="../../../assets/arrow_back.svg" alt="back"></button>
    <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/templates/social/reactt-light_1200x628.png?sfvrsn=43eb5f2a_2" alt="Nada encontrado">
    <article>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, excepturi.</h1>
        <p id="subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsum vitae ullam aliquam! Ea, sint.
        </p>
        <div id="ads"> adSense</div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, nobis perferendis itaque cum quod aliquam est maxime ullam placeat perspiciatis at cumque, doloremque repellat saepe nulla quas rerum, rem reprehenderit repellendus consequuntur commodi consequatur quibusdam ratione architecto. Voluptas vel laudantium, eaque omnis deserunt sed numquam veritatis explicabo magnam est dolorem accusantium aliquid voluptatem repellat sit? Eligendi asperiores voluptates officiis facilis non libero illum expedita commodi officia, amet, voluptas aliquam explicabo dolores cum animi architecto impedit reprehenderit dolor voluptatum vero iure! Maiores, minus accusantium explicabo nisi quia fugiat distinctio officia doloremque aliquam facilis recusandae labore enim! Consectetur ad saepe eaque a?
        </p>

        <p>
            Ex dicta pariatur nostrum officia beatae, consectetur adipisci obcaecati delectus qui voluptatum culpa impedit similique eos, sunt ratione error maiores nemo mollitia. Minus quibusdam asperiores dignissimos debitis! Fuga, minima consequuntur quis delectus ipsa sequi reiciendis. Fugit reprehenderit delectus harum, repellendus id quaerat ut officia deserunt autem earum veritatis voluptas est, quod temporibus dolorem consequatur, laudantium reiciendis labore! Magnam eius temporibus impedit aut dolor porro ipsam molestias dolore? Omnis maiores debitis consequatur deleniti, assumenda nam aut porro incidunt, possimus ratione sed beatae impedit, repellendus expedita reiciendis! Tempore, fugiat recusandae ipsam possimus, fugit cupiditate magni voluptatem voluptate soluta quas assumenda delectus accusamus?

        </p>
        
    </article>
</div>
<app-group-card-inline title="Veja mais"></app-group-card-inline>
