<main>
    <app-title title="TheDevBlog"></app-title>
    <div id="content-posts">
        <app-big-card 
        image="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/templates/social/reactt-light_1200x628.png?sfvrsn=43eb5f2a_2"
        title="Um título bem legal que pode ter mais de uma linha"    
        subtitle="Lorem ipsum, dolor sit amet consectetur adipisicing elit. In ea laboriosam, perferendis soluta itaque numquam at magni corrupti? Molestiae, quia!"
        ></app-big-card>
        <app-group-card-block></app-group-card-block>
    </div>
    <app-group-card-inline title="primeiros passos"></app-group-card-inline>
    <app-group-card-inline title="Atualizações"></app-group-card-inline>
</main>